.circle-icon {
    text-decoration: none;
    border-radius: 50%;
    text-align: center;
    padding: 0.7rem
}

.circle-border {
    display: flex;
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
    border-radius: 6rem;
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.25);
    margin: 0 auto;
    text-align: center;
    font-size: 0.85em;
}

.center-icon {
    align-items: center;
    margin: auto;
    display: block;
}

.center-icon>svg {
    display: block;
}

.circle-background {
    color: #726193 !important;
    background: white;
    width: 3rem !important;
    height: 3rem;
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

.icon-link {
    text-decoration: none;
    border-bottom: none;
}

.circle-background:hover {
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    background-color: #ffe4b4 !important;
}

h1, h2, h3, h4, h5, h6 {
    text-shadow: 3px 3px 5px #222;
}

p, li, ul, td {
    text-shadow: 2px 2px 4px #222;
}

.circle-icon {
    filter: drop-shadow( 3px 3px 6px #222);
}

#navigation {
    z-index: 2;
}

.button {
    margin: 10px;
}

.panel.medium {
    width: 40rem;
}

.intro.color1 {
    width: 27rem;
}